// index page styles
$rescue-vessel-orange: #ff5812;

.feedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  li {
    //display: flex;
    list-style: none;
    padding: 30px 0;
    //align-items: center;
    //justify-content: center;
  }
}
.feed-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.feed-item {
  border: none;
  outline: none;
  width: 800px;
  min-height: 400px;
  margin: 0 auto;
  //padding-left: 50px;
}
