// footer module

$rescue-vessel-orange: #ff5812;

.footerWrapper {
    background: #F6F6F6;
    padding: 100px 200px;

    li {
        a {
            border-bottom: 1px solid black;
            padding-left: 0;
        }
    }

    .copyright {
        display: flex;
        margin-top: 4rem;
        text-align: left;
        font-size: .8vw;
    }

    .currentTime {
        display: flex;
        margin-top: 2rem;
    }

    .emailLink {
        padding-left: 0;
        margin-left: 0;
        display: inline-block;
        color: $rescue-vessel-orange;
        text-decoration: underline;
    }

    .emailInput {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: -5px;
        width: auto;
    }

    .emailSubmitBtn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .newsletterSignUpWrapper {
        margin-top: 9rem;

        input, button {
            border: 2px solid $rescue-vessel-orange;
            border-radius: 0 !important;
            margin-top: 4px;
        }
        button {
            color: #fff;;
            background-color: $rescue-vessel-orange;
        }
    }

    .isFlex {
        display: flex;
    }

    /* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  }
  
  /* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
  @media (max-width: 768px) {
  }
  
  /* Large devices (desktops, 992px and down) */
  @media (max-width: 992px) {
    padding: 50px 50px;
  }
  
  /* Extra large devices (large desktops, 1200px and down) */
  @media (max-width: 1200px) {
    padding: 100px 100px;
    .empty-column {
        display: none  !important;
    }
  }
}
