@font-face {
  font-family: SharpSans;
  src: url("../fonts/SharpSansNoOne-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: SharpSans;
  src: url("../fonts/Sharp Sans No1-SemiBold.otf")
    format("opentype");
}
@font-face {
  font-family: SharpSans;
  font-weight: bold;
  src: url("../fonts/SharpSansNoOne-Bold.otf")
    format("opentype");
}
@font-face {
  font-family: PitchMedium;
  src: url("../fonts/pitch-web-medium.woff") format("woff"),
       url("../fonts/pitch-web-medium.eot") format("eot"),
       url("../fonts/pitch-web-medium.woff2") format("woff2");
}

* { margin: 0; }
body { width: 100%; }

.header-logo img { max-width: 60px; }

h1 { font-family: SharpSans; }

p { font-family: PitchMedium, monospace; margin: 8px 0; }

.type-pitch { font-family: PitchMedium, monospace; }
.type-ssno { font-family: SharpSans, monospace; }

.home-hero { 
  //width: 100%;
  //padding: 1vw;
  //min-height: 540px;
 }

.vimeo-full {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
  iframe { 
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.vimeo-body-full {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
  iframe { 
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.centered { max-width: 1200px; margin: 0 auto; padding: 1vh 2vw; }

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}


section { padding-top: 30px; }

.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6vh 2vw;
}

.nav-menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar-li {
  font-family: SharpSans,monospace;
  font-weight: 700;
  font-size: 26px;
  color: #000;
  text-align: right;
  margin: 0 12px;
}

.navbar { position: relative; }

.client-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  img {
    max-width: 250px;
  }
}

