@font-face {
  font-family: SharpSans;
  font-weight: 300;
  src: url("../fonts/SharpSansNoOne-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: SharpSans;
  src: url("../fonts/Sharp Sans No1-SemiBold.otf")
    format("opentype");
}
@font-face {
  font-family: SharpSans;
  font-weight: bold;
  src: url("../fonts/SharpSansNoOne-Bold.otf")
    format("opentype");
}
@font-face {
  font-family: PitchMedium;
  src: url("../fonts/pitch-web-medium.woff") format("woff"),
       url("../fonts/pitch-web-medium.eot") format("eot"),
       url("../fonts/pitch-web-medium.woff2") format("woff2");
}

$rescue-vessel-orange: #ff5812;

* { 
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body { width: 100%; font-size: 24px;
  a { text-decoration: none; color: black;
    &:hover { color: $rescue-vessel-orange;} }
}

.header-logo img { max-width: 60px; }

h1 { font-family: SharpSans; font-size: 3.0em; }

h2 { 
  font-family: SharpSans, monospace;
  font-weight: 300;
  font-size: 1.4em;
  //padding: 5vh 0vw;
  line-height: 1.2em;
}

p { 
  font-family: PitchMedium, monospace; 
  color: #333;
  font-size: .7em;
  font-weight: 400;
  line-height: 1.5; 
  margin: 8px 0; }

.type-pitch { font-family: PitchMedium, monospace; }
.type-ssno { font-family: SharpSans, monospace; }

.home-hero { 
  //width: 100%;
  //padding: 1vw;
  //min-height: 540px;
 }

.vimeo-full {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
  iframe { 
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.vimeo-body-full {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
  iframe { 
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}



.centered { max-width: 1200px; margin: 0 auto; padding: 4vh 2vw; }

section.home-hero { padding: 0;}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-gap: 30px;
  .blue {background: blue;}
  .red {background: red;}
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.homeSections {
  h2 { padding: 8vh 0 4vh 0;}
}

.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6vh 2vw;
}

.nav-menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar-li {
  font-family: SharpSans,monospace;
  font-weight: 700;
  font-size: 26px;
  color: #000;
  text-align: right;
  margin: 0 12px;
}

.navbar { position: relative; }

.client-logos {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  align-items: center;
  justify-items: center;
  img {
    max-width: 250px;
  }
}

.team  {
  h2 { padding: 1rem 0; }
}

.work h2 { padding-top: 10px; }

//.slick-arrow {background-color: red !important; font-size: 0px !important; content: none;}
.rvPrevArrow { right: 0; }