@font-face {
  font-family: SharpSans;
  src: url("../fonts/SharpSansNoOne-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: SharpSans;
  src: url("../fonts/Sharp Sans No1-SemiBold.otf")
    format("opentype");
}
@font-face {
  font-family: SharpSans;
  font-weight: bold;
  src: url("../fonts/SharpSansNoOne-Bold.otf")
    format("opentype");
}
@font-face {
  font-family: PitchMedium;
  src: url("../fonts/pitch-web-medium.woff") format("woff"),
       url("../fonts/pitch-web-medium.eot") format("eot"),
       url("../fonts/pitch-web-medium.woff2") format("woff2");
}


main { padding: 50px 0; }

.site-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 6vh 12vw;
}

.header-logo img { max-width: 60px; }

h1 { font-family: SharpSans; }

p { font-family: PitchMedium, monospace; }

.nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

.nav-menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar-li {
  font-family: SharpSans,monospace;
  font-weight: 700;
  font-size: 26px;
  color: #000;
  text-align: right;
  margin: 0 12px;
}

.navbar { position: relative; }

img { width: 100%; }

.client-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  img {
    max-width: 250px;
  }
}
